/* The popup form - hidden by default */
.popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-box {
  max-height: 500px;
  max-width: 300px;
  padding: 10px;
  background-color: white;
  overflow-y: auto;
}

/* Full-width input fields */
.form-box input[type=text], .form-box input[type=password] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus */
.form-box input[type=text]:focus, .form-box input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Style for the submit/login button */
.form-box .btn {
  background-color: green;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-box h2 {margin-top: 0;}

/* Add a red background color to the cancel button */
.form-box .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-box .btn:hover, .open-button:hover {
  opacity: 1;
}

p.error {
  color: white;
  font-family: lato;
  background: orangered;
  display: inline-block;
  padding: 2px 10px;
  border-radius: 10px;
}